* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100vw;
  overflow: hidden;
}

.text {
  text-align: justify;
}

#products {
  height: 50vh;
}

.active {
  font-weight: bold;
  border-bottom: 2px solid black;
  border-radius: 50%;
}

.navbar-brand > img {
  width: 50px;
}
